<div class ="cocktail-info">
  <label>名前：</label>
  <span><%= cocktail.name %></span>
</div>
<div class ="cocktail-info dsc">
  <label>説明：</label>
  <div><span><%= cocktail.description %></span></div>
</div>
<div class ="cocktail-info">
  <label>ベース：</label>
  <span><%= cocktail.base %></span>
</div>
<div class ="cocktail-info">
  <label>味：</label>
  <span><%= cocktail.taste %></span>
</div>
<div class ="cocktail-info">
  <label>度数：</label>
  <span><%= cocktail.alcohol_degree %></span>
</div>