<div class="container">
  <h2 class="cocktail-title">️<i class="fas fa-cocktail"></i> みんなのカクテル</h2>

  <div class="column">
    <% @cocktails.each do |cocktail| %>

      <div class="row">
        <div class="col-3 offset-1">
          <p class="cocktail-icon"><%=link_to image_tag(cocktail.image), cocktail_path(cocktail) %></p>
        </div>

        <div class="col-4">
          <%= render 'cocktails/cocktail_index', cocktail: cocktail %> <!--カクテル一覧-->
        </div>

        <div class="col-3">
          <% unless cocktail.user == current_user %>
            <div class="user-icon-sm-2">
              <div>
                <span>post_by:</span>
                <%= link_to user_path(cocktail.user) do %>
                  <% if cocktail.user.profile_image.attached? %>
                    <%= image_tag cocktail.user.profile_image %>
                  <% elsif %>
                    <%= image_tag("no_image.jpg") %>
                  <% end %>
                  <%= cocktail.user.name %>
                <% end %>
              </div>
            </div>
          <% end %>

          <div class="favorites-index">
            <p id="favorite_<%= cocktail.id %>">
              <%= render 'favorites/favorite', cocktail: cocktail, user: cocktail.user %>
            </p>
          </div>
        </div>
      </div>

    <% end %>

    <div class="col-11"><%= paginate @cocktails %></div>
  </div>



</div>