<div class="container">
  <%= form_with model:@cocktail, local: true do |f| %>

    <div class="row">

      <div class="col-3">

      </div>

      <div class="col-9">
        <div class="cocktail-item">
          <p><%= f.file_field :image %></p>
        </div>
        <div class="cocktail-item">
          <label>名前</label>
          <p><%= f.text_field :name, class:"form-control form-control-sm col-12" %></p>
        </div>

        <div class="cocktail-item">
          <label>説明</label>
          <p><%= f.text_area :description, class:"form-control col-12" %></p>
        </div>

        <div class="cocktail-item">
          
            <table class="material-item">
              <tr class="material">
                <td><label>材料</label></td>
                <td><label>分量</label></td>
              </tr>
              <!--材料/分量 (8種類まで登録可)-->
              <%= render 'cocktails/material', f: f %>
              <%= render 'cocktails/material', f: f %>
              <%= render 'cocktails/material', f: f %>
              <%= render 'cocktails/material', f: f %>
              <%= render 'cocktails/material', f: f %>
              <%= render 'cocktails/material', f: f %>
              <%= render 'cocktails/material', f: f %>
              <%= render 'cocktails/material', f: f %>
            </table>
          
        </div>

        <div class="cocktail-item">
          <label>作り方</label>
          <p><%= f.text_area :recipe, class:"form-control form-control-sm col-12" %></p>
        </div>
        <div class="cocktail-item">
          <label>ベース</label>
          <p><%= f.text_field :base, class:"form-control form-control-sm col-12" %></p>
        </div>
        <div class="cocktail-item">
          <label>味（甘〜辛）</label>
          <p><%= f.text_field :taste, class:"form-control form-control-sm col-12" %></p>
        </div>
        <div class="cocktail-item">
          <label>度数</label>
          <p><%= f.text_field :alcohol_degree, class:"form-control form-control-sm col-12" %></p>
        </div>
        <div class="cocktail-item">
          <label>オススメ度</label>
          <p><%= f.text_field :recommendation, class:"form-control form-control-sm col-12" %></p>
        </div>

        <div class="cocktail-item">
          <%= f.submit "投稿する", class:"btn btn-danger btn-sm col-6" %>
        </div>
      </div>
    </div>

  <% end %>
</div>