<div class="container">
  <h2 class="cocktail-title">️<i class="fas fa-search"></i> カクテル検索</h2>

  <div class="column">
    <!--キーワード検索-->
    <div class="search-box">
      <%= form_with url: search_cocktails_path, method: :get, local: true do |f| %>
        <%= f.text_field :search, class:"form-control col-5", placeholder:"名前・ベースで探す" %>
        <%= f.submit "検索",class:"btn btn-secondary faa-pulse animated-hover" %>
      <% end %>
    </div>
  </div>


  <!--検索結果-->
  <% if params[:search].present? %>
    <div class="column">
      <h4 class="search-result">" <%= params[:search] %> "の検索結果：<%= @cocktails.count %>件</h4>

      <% @cocktails.each do |cocktail| %>
        <div class="row">
          <div class="col-4 offset-1">
            <p class="cocktail-icon"><%=link_to image_tag(cocktail.image), cocktail_path(cocktail) %></p>
          </div>

          <div class="col-4">
            <div class ="cocktail-info">
              <label>名前：</label>
              <span><%= cocktail.name %></span>
            </div>
            <div class ="cocktail-info">
              <label>説明：</label>
              <span><%= cocktail.description %></span>
            </div>
            <div class ="cocktail-info">
              <label>ベース：</label>
              <span><%= cocktail.base %></span>
            </div>
            <div class ="cocktail-info">
              <label>味：</label>
              <span><%= cocktail.taste %></span>
            </div>
            <div class ="cocktail-info">
              <label>度数：</label>
              <span><%= cocktail.alcohol_degree %></span>
            </div>

          </div>
          <div class="col-2">
            <div class="row">
              <div class="favorites-index">
                <p id="favorite_<%= cocktail.id %>">
                  <%= render 'favorites/favorite', cocktail: cocktail, user: cocktail.user %>
                </p>
              </div>
              post_by
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>



</div>