<div class="container">
  <h2 class="cocktail-title">️<i class="fas fa-search"></i> カクテル検索</h2>

  <div class="column">
    <!--キーワード検索-->
      <div class="search-box">
        <%= form_with url: search_cocktails_path, method: :get, local: true do |f| %>
          <%= f.text_field :search, class:"form-control col-5", placeholder:"名前・ベースで探す" %>
          <%= f.submit "検索",class:"btn btn-secondary faa-pulse animated-hover" %>
        <% end %>
      </div>
  </div>


  <!--検索結果-->
  <% if params[:search].present? %>
    <div class="column">
      <h4 class="search-result">" <%= params[:search] %> "の検索結果：<%= @cocktails.count %>件</h4>

      <% @cocktails.each do |cocktail| %>
        <div class="row">
          <div class="col-3 offset-1">
            <p class="cocktail-icon"><%=link_to image_tag(cocktail.image), cocktail_path(cocktail) %></p>
          </div>

          <div class="col-5">
            <%= render 'cocktails/cocktail_index', cocktail: cocktail %> <!--カクテル一覧-->
          </div>

          <div class="col-3">
            <% unless cocktail.user == current_user %>
              <div class="user-icon-sm-2">
                <div>
                  <span>post_by:</span>
                  <%= link_to user_path(cocktail.user) do %>
                    <% if cocktail.user.profile_image.attached? %>
                      <%= image_tag cocktail.user.profile_image %>
                    <% elsif %>
                      <%= image_tag("no_image.jpg") %>
                    <% end %>
                    <%= cocktail.user.name %>
                  <% end %>
                </div>
              </div>
            <% end %>

            <div class="favorites-index">
              <p id="favorite_<%= cocktail.id %>">
                <%= render 'favorites/favorite', cocktail: cocktail, user: cocktail.user %>
              </p>
            </div>
          </div>
        </div>
      <% end %>

      <div class="col-11"><%= paginate @cocktails %></div>
    </div>
  <% end %>

</div>