<div class="container">
  <h2 class="cocktail-title">
    <i class="fas fa-cocktail"></i> <%= @cocktail.name %>
  </h2>

  <div class="column">

      <div class="row">
        <div class="col-3 offset-1">
          <p class="cocktail-icon"><%= image_tag @cocktail.image %></p>

          <% unless @user == current_user %>
            <div class="user-icon-sm">
              <div>
              <span>post_by:</span>
              <%= link_to user_path(@cocktail.user) do %>
                <%= image_tag @cocktail.user.profile_image %><%= @cocktail.user.name %>
              <% end %>
              </div>
            </div>
          <% end %>

          <div class="favorites">
            <p id="favorite_<%= @cocktail.id %>">
              <%= render 'favorites/favorite', cocktail: @cocktail, user: @cocktail.user %>
            </p>
          </div>

          <div class="relationships">
            <p id="relationships_<%= @user.id %>">
              <%= render 'relationships/relationship',user: @user %>
            </p>
          </div>
        </div>

        <div class="col-6">
          <div class ="cocktail-info item">
            ️<i class="fas fa-cocktail"></i>
            <label>名前：</label>
            <div><%= @cocktail.name %></div>
          </div>
          <div class ="cocktail-info item">
            ️<i class="fas fa-cocktail"></i>
            <label>説明：</label>
            <div><%= @cocktail.description %></div>
          </div>
          <div class="cocktail-info item">
            ️<i class="fas fa-cocktail"></i>
            <label>材料/分量</label><br>
            <table class="material-info">
              <% @materials.each do |material| %>
                <% if material.name.present? %>  <!--空白データを除く-->
                  <tr>
                    <td><span><%= material.name %>：</span></td>
                    <td><span><%= material.quantity %></span></td>
                  </tr>
                <% end %>
              <% end %>
            </table>

          </div>
          <div class ="cocktail-info item">
            ️<i class="fas fa-cocktail"></i>
            <label>作り方：</label><br>
            <div><%= @cocktail.recipe %></div>
          </div>
          <div class ="cocktail-info item">
            ️<i class="fas fa-cocktail"></i>
            <label>ベース：</label>
            <span><%= @cocktail.base %></span>
          </div>
          <div class ="cocktail-info item">
            ️<i class="fas fa-cocktail"></i>
            <label>味：</label>
            <span><%= @cocktail.taste %></span>
          </div>
          <div class ="cocktail-info item">
            ️<i class="fas fa-cocktail"></i>
            <label>度数：</label>
            <span><%= @cocktail.alcohol_degree %></span>
          </div>
          <div class ="cocktail-info item">
            ️<i class="fas fa-cocktail"></i>
            <label>オススメ度：</label>
            <span><%= @cocktail.recommendation %></span>
          </div>

          <div class="comments">
            <h3 class="comment-title">Comments (<%= @comments.count %>)</h3>

            <div class="comment-index">
              <div id="comment_<%= @cocktail.id %>">
                <%= render 'comments/comment', comments: @comments %>
              </div>
            </div>

            <div class="comment-form">
              <%= form_with( model:[@cocktail, @comment], remote: true) do |f| %>
                <%= f.text_field :comment, class:"form-control form-control-lg", placeholder:"コメントする（140字以内）" %>
                <%= f.submit "コメントする", class:"btn btn-sm btn-warning" %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-2">
          <% if @user == current_user %>
            <div class="row">
              <p class="action"><%= link_to "編集", edit_cocktail_path(@cocktail) %> </p>
              <p class="action"><%= link_to "削除", cocktail_path(@cocktail), method: :delete, "data-confirm"=> "削除しますか？" %></p>
            </div>
          <% end %>
        </div>
      </div>

  </div>
</div>