<div class="container">
  <h2 class="notification-title"><i class="fas fa-concierge-bell faa-shake animated"></i> 通知一覧</h2>

  <div class="row">
	  <div class="col-3"><!--余白--></div>
	  <div class="col-6">
			<% if @notifications.present? %>
				<% @notifications.each do |notification| %>

					<% if notification.variety == 1 %>
					  <div class="notification">
							<div class="user-icon-notif">
								<%= link_to user_path(notification.from_user) do %>
									<% if notification.from_user.profile_image.attached? %>
									  <span><%= image_tag notification.from_user.profile_image %></span>
									<% else %>
									  <span><%= image_tag("no_image.jpg") %></span>
									<% end %>
						    	<label><%= notification.from_user.name %></label>
					    	<% end %>さんが
					    	<%= link_to "あなたの投稿", cocktail_path(notification.cocktail_id) %>をお気に入りしました
					    </div>

					    <div class="notice"><!--余白--></div>
						  <div class="datetime">
						  	<% if notification.checked == false %>new!! <% end %>
						    <%= notification.created_at.strftime('%Y/%m/%d %H:%M') %>
					    </div>
				    </div>

					<% elsif notification.variety == 2 %>
					  <div class="notification">
							<div class="user-icon-notif">
								<%= link_to user_path(notification.from_user) do %>
									<% if notification.from_user.profile_image.attached? %>
									  <span><%= image_tag notification.from_user.profile_image %></span>
									<% else %>
									  <span><%= image_tag("no_image.jpg") %></span>
									<% end %>
						    	<label><%= notification.from_user.name %></label>
					    	<% end %>さんが
					    	<%= link_to "あなたの投稿", cocktail_path(notification.cocktail_id) %>にコメントしました
					    </div>

							<div class="notice comment">
								<i class="fas fa-comment-dots"></i>
						   	<span> <%= notification.comment %></span>
						 	</div>
							<div class="datetime">
						    <%= notification.created_at.strftime('%Y/%m/%d %H:%M') %>
						  </div>
				  	</div>
				  <% end %>
				<% end %>

			<% else %>
			  <h5 class="no-notification">通知はありません</h4>
			<% end %>

			<%= paginate @notifications %>
	  </div>
	  <div class="col-3"><!--余白--></div>
  </div>

</div>