<div class="container">

  <div class="column">
    <h2 class="user-title">プロフィール</h2>

    <div class="row">
      <div class="col-2 offset-1">
        <div class="user-profile-1">
          <%= image_tag @user.profile_image %>

        <% if @user == current_user %>
          <p class="action"><%= link_to "編集", edit_user_path(@user) %></p>
        <% end %>
        </div>
      </div>

      <div class="col-5">
        <div class="user-profile-2">
          <label class="user-name"><%= @user.name %></label>
          <p><%= @user.introduction %></p>
        </div>

        <div class="user-profile-3">
          <div class="follow-count">
            <span><%= @user.followings.count %> 人をフォロー中</span>
            <span>　<%= @user.followers.count %> 人のフォロワー</span>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="relationships">
          <p id="relationships_<%= @user.id %>">
            <%= render 'relationships/relationship',user: @user %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <h2 class="my-cocktails-title">My Cocktails (<%= @cocktails.count %>)</h2>

    <% @cocktails.each do |cocktail| %>
      <div class="row">
        <div class="col-3 offset-1">
          <p class="cocktail-icon"><%=link_to image_tag(cocktail.image), cocktail_path(cocktail) %></p>
        </div>

        <div class="col-4">
          <div class ="cocktail-info">
            <label>名前：</label>
            <span><%= cocktail.name %></span>
          </div>
          <div class ="cocktail-info">
            <label>説明：</label>
            <span><%= cocktail.description %></span>
          </div>
          <div class ="cocktail-info">
            <label>ベース：</label>
            <span><%= cocktail.base %></span>
          </div>
          <div class ="cocktail-info">
            <label>味：</label>
            <span><%= cocktail.taste %></span>
          </div>
          <div class ="cocktail-info">
            <label>度数：</label>
            <span><%= cocktail.alcohol_degree %></span>
          </div>

        </div>
        <div class="col-4">
          <div class="favorites-index">
            <p id="favorite_<%= cocktail.id %>">
              <%= render 'favorites/favorite', cocktail: cocktail %>
            </p>
          </div>
          <% if @user == current_user %>
            <p class="action"><%= link_to "編集", edit_cocktail_path(cocktail) %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  <div>

</div>