<div class="container">
  <div class="row">
    <h2 class="login-title">ログイン</h2>
  </div>

  <div class="row">
    <div class="login-form-group">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
      <div class="login-field">
        <% f.label "メールアドレス" %>
        <%= f.email_field :email, autocomplete: "email", placeholder:"メールアドレス", class:"form-control" %>
      </div>
  
      <div class="login-field">
        <% f.label "パスワード" %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード", class:"form-control" %>
      </div>
  
      <div class="login-actions">
        <%= f.submit "ログイン", class:"btn btn-danger col-md-12" %>
      </div>
      
      <div class="login-info">
        <%= link_to "初めての方はこちら", new_user_registration_path %>
      </div>
      
      <% end %>
    </div>
  </div>

</div>
