<!DOCTYPE html>
<html>
  <head>
    <title>CocktailHouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">

  </head>

  <body>
    <div class="footerFixed">
      <header>
        <% if user_signed_in? %>
          <div class="header-container">
            <div class="row">
              <div class="logo">
                <%= link_to root_path do %>
                  <h1 class="logo-title">Cocktail-House</h1>
                <% end %>
              </div>
            </div>

            <div class="nav-bar">
              <div class="row">
                <div class="nav-item"><%= link_to 'ã‚«ã‚¯ãƒ†ãƒ«ä¸€è¦§', cocktails_path %></div>
                <div class="nav-item"><%= link_to 'ãƒžã‚¤ãƒšãƒ¼ã‚¸', user_path(current_user) %></div>
                <div class="nav-item"><%= link_to 'ãŠæ°—ã«å…¥ã‚Š', favorites_path(current_user) %></div>
                <div class="nav-item"><%= link_to 'é€šçŸ¥', notifications_path(current_user) %></div>
                <div class="nav-item"><%= link_to 'æ¤œç´¢', search_cocktails_path %></div>
                <div class="nav-item"><%= link_to 'ã™ã¹ã¦ã®ãƒ¦ãƒ¼ã‚¶ãƒ¼', users_path %></div>
                <div class="nav-item logout">
                  <i class="fas fa-sign-out-alt"></i> <%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', destroy_user_session_path, method: :delete %>
                </div>

                <div class="new-cocktail"><%= link_to " ðŸ¸ ã‚«ã‚¯ãƒ†ãƒ«æ–°è¦æŠ•ç¨¿ ", new_cocktail_path, class:"btn btn-warning" %></div>
              </div>
            </div>
          </div>
        <% end %>
      </header>

      <main>
      <%= yield %>
      </main>

      <footer>
        <div class="copyright">
          <div>Â© 2021 tona44 All Rights Reserved.</div>
        </div>
      </footer>
    </div>
  </body>

</html>
